.breadcrumb {
  background: transparent;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; 
  margin: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 8px;
  color: #fff;
}

.breadcrumb-item a {
  color: gold;
  text-decoration: none;
}
.breadcrumb-item:hover {
  background-color: #a7a7a7;
}

.breadcrumb-item.active a {
  color: white;
  pointer-events: none;
}
.breadcrumb-item.active:hover {
  background-color: #a7a7a7;
}
